# Progressive Overload Database

**Created by:** Emma Crawford (emcr8954)

**Youtube Link:** https://youtu.be/SM8RWAkAfSc

## Project Proposal 
*Provided July 14th, 2022*

### Motivation & Use: 
I propose to build a database for tracking exercise sessions. One of the best indicators of an increase in
strength and muscle mass is total volume lifted during an exercise session. Total volume is calculated as weight X
repetitions X sets of repetitions. The goal of the database is to provide tracking and comparison of total volume across
exercise sessions so that an individual can improve upon their performance.

### Multiple Relations and/or Data Sources: 
The database will store information about exercises, exercise sessions, and
collections or groups of exercises. For the purposes of this project, example data will be filled in for an individual. 

This project will have the following relations:
* Exercises(ExerciseID, ExerciseName, CreatedDate, GoalVolume)
* Collections(CollectionID, CollectionName, CreatedDate)
* CollectionGroups(CollectionGroupID, CollectionID, ExerciseID, CreatedDate)
* Sessions(SessionID, CompletedDate, TotalVolume, CreatedDate)
* SessionExercises(SessionExerciseID, SessionID, ExerciseID, Weight1, Rep1, Weight2, Rep2, Weight3, Rep3, Weight4, Rep4, ExerciseVolume)

### Possible Platforms: 
The data will be stored on the course MySQL database server. Because I am not querying outside
databases, this should be sufficient for setting up constraints, triggers, views, etc. I will be using the SQLAlchemy "raw" interface.
### Learning Outcomes:
1. Solidifying and internalizing the database concepts we have learned so far (JOINS, CONSTRAINTS/TRIGGERS, etc.)
2. Learning how to integrate database creation/modification with code and interfaces
3. Building in understanding and fluency with building databases from design to production

### Outcome Measurements:
1. I will create at least one VIEW with at least one JOIN statement; I will use at least 1 CONSTRAINT and at least 1 TRIGGER within my tables; I will use at least 1 CASE statement; I will handle NULL values appropriately.
2. I will create a python script that query and/or modify the database based on simple user input
3. I will perform testing on different types of input and effectiveness of TRIGGERS/CONSTRAINTS; I will follow the steps demonstrated in the reading, labs, and quizzes of this class.

## Database Connection

In [1]:
# Connect to the CSPB MySQL Database

import os
import configparser

mycfg = configparser.ConfigParser()
mycfg.read("/home/jovyan/mysql.cfg")
print(f"User    : [{mycfg['mysql']['user']}]")
database = mycfg['mysql']['url'].split('@')[1]  # leave off the password
print(f"Database: [[mysql://{mycfg['mysql']['user']}...@{database}]")

db_url = mycfg['mysql']['url'] 
os.environ['DATABASE_URL'] = db_url

User    : [emcr8954]
Database: [[mysql://emcr8954...@applied-sql.cs.colorado.edu:3306/emcr8954]

In [2]:
import os
import configparser

mysqlcfg = configparser.ConfigParser()
mysqlcfg.read("/home/jovyan/mysql.cfg")    # YOUR CONFIG FILE HERE
user, passwd = mysqlcfg['mysql']['user'], mysqlcfg['mysql']['passwd']
dburl = f"mysql://{user}:{passwd}@applied-sql.cs.colorado.edu:3306/{user}"
os.environ['DATABASE_URL'] = dburl  # define this env. var for sqlmagic

In [3]:
# Load the sql magic 
# Get the MySQL version number to verify we are connected

%reload_ext sql
print ("get version...")
%sql SELECT version()

get version...
1 rows affected.

[('8.0.27',)]

## Create Tables

Included:
* Constraints: Primary Key, Unique, Not Null, Check, Default
* Indexes on columns that are expected to be queried often 
* Foreign keys
* Views and queries to summarize frequently accessed information
* Joins to demonstrate relationships between tables
* Grouping to obtain summation information within the views
* Triggers: for both updating and deleting from tables

In [4]:
%%sql

DROP TABLE IF EXISTS SessionSet;
DROP TABLE IF EXISTS CollectionGroups;
DROP TABLE IF EXISTS Collections;
DROP TABLE IF EXISTS Exercises; 
DROP TABLE IF EXISTS Sessions;

CREATE TABLE IF NOT EXISTS Exercises(
    ExerciseID INT PRIMARY KEY, 
    ExerciseName VARCHAR(50) NOT NULL, 
    CreatedDate DATETIME DEFAULT CURRENT_TIMESTAMP, 
    GoalVolume DECIMAL(10,2) NOT NULL,  
    Unit VARCHAR(10) NOT NULL, 
    INDEX (ExerciseName)
); 

CREATE TABLE IF NOT EXISTS Collections(
    CollectionID INT PRIMARY KEY,
    CollectionName VARCHAR(50) NOT NULL UNIQUE,
    CreatedDate DATETIME DEFAULT CURRENT_TIMESTAMP, 
    Index(CollectionName)
);

CREATE TABLE IF NOT EXISTS CollectionGroups(
    CollectionGroupID INT PRIMARY KEY, 
    CollectionID INT NOT NULL, 
    ExerciseID INT NOT NULL, 
    CreatedDate DATETIME DEFAULT CURRENT_TIMESTAMP,  
    FOREIGN KEY(CollectionID) REFERENCES Collections(CollectionID) ON DELETE CASCADE,
    FOREIGN KEY(ExerciseID) REFERENCES Exercises(ExerciseID) ON DELETE CASCADE 
);

CREATE TABLE IF NOT EXISTS Sessions(
    SessionID INT PRIMARY KEY,    
    CreatedDate DATETIME DEFAULT CURRENT_TIMESTAMP
);

CREATE TABLE IF NOT EXISTS SessionSet(
    SessionExerciseID INT PRIMARY KEY, 
    SessionID INT NOT NULL, 
    ExerciseID INT NOT NULL,
    Weight DECIMAL(10,2), 
    Reps INT CHECK (Reps > 0),  
    CreatedDate DATETIME DEFAULT CURRENT_TIMESTAMP, 
    FOREIGN KEY(SessionID) REFERENCES Sessions(SessionID) ON DELETE CASCADE ,
    FOREIGN KEY(ExerciseID) REFERENCES Exercises(ExerciseID) ON DELETE CASCADE 
);

 * mysql://emcr8954:***@applied-sql.cs.colorado.edu:3306/emcr8954
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

## Insert Sample Data

After clearing each table from the previous run.

In [5]:
%%sql

DELETE FROM SessionSet;
DELETE FROM CollectionGroups;
DELETE FROM Collections;
DELETE FROM Exercises; 
DELETE FROM Sessions;

INSERT INTO Exercises VALUES(1, 'Squat', CURRENT_TIMESTAMP, 7000, 'lbs');
INSERT INTO Exercises VALUES(2, 'Deadlift', CURRENT_TIMESTAMP, 12000, 'lbs');
INSERT INTO Exercises VALUES(3, 'Bench Press', CURRENT_TIMESTAMP,  4000, 'lbs');
INSERT INTO Exercises VALUES(4, 'Overhead Press', CURRENT_TIMESTAMP,  2500, 'lbs');
INSERT INTO Exercises VALUES(5, 'Running', CURRENT_TIMESTAMP, 9, 'min/mile');
INSERT INTO Exercises VALUES(6, 'Yoga', CURRENT_TIMESTAMP, 30, 'mins');

INSERT INTO Collections VALUES(1, 'Legs', CURRENT_TIMESTAMP);
INSERT INTO Collections VALUES(2, 'Arms', CURRENT_TIMESTAMP);
INSERT INTO Collections VALUES(3, 'Total Body', CURRENT_TIMESTAMP);

INSERT INTO CollectionGroups VALUES(1, 1, 1, CURRENT_TIMESTAMP);
INSERT INTO CollectionGroups VALUES(2, 1, 2, CURRENT_TIMESTAMP);
INSERT INTO CollectionGroups VALUES(3, 2, 3, CURRENT_TIMESTAMP);
INSERT INTO CollectionGroups VALUES(4, 2, 4, CURRENT_TIMESTAMP);
INSERT INTO CollectionGroups VALUES(5, 3, 1, CURRENT_TIMESTAMP);
INSERT INTO CollectionGroups VALUES(6, 3, 2, CURRENT_TIMESTAMP);
INSERT INTO CollectionGroups VALUES(7, 3, 3, CURRENT_TIMESTAMP);
INSERT INTO CollectionGroups VALUES(8, 3, 4, CURRENT_TIMESTAMP);

INSERT INTO Sessions VALUES(1, '2022-07-27 06:00:19');
INSERT INTO Sessions VALUES(2, '2022-07-28 06:30:19');
INSERT INTO Sessions VALUES(3, '2022-07-29 07:06:19');
INSERT INTO Sessions VALUES(4, '2022-07-30 08:06:19');

# SessionExerciseID, SessionID, ExerciseID, Weight, Reps

## SQUAT
INSERT INTO SessionSet VALUES(1, 1, 1, 100, 10, '2022-07-27 06:05:00');
INSERT INTO SessionSet VALUES(2, 1, 1, 100, 11, '2022-07-27 06:07:00');
INSERT INTO SessionSet VALUES(3, 1, 1, 100, 11, '2022-07-27 06:09:00');
INSERT INTO SessionSet VALUES(4, 1, 1, 100, 10, '2022-07-27 06:11:00');

INSERT INTO SessionSet VALUES(5, 2, 1, 100, 12, '2022-07-28 05:20:00');
INSERT INTO SessionSet VALUES(6, 2, 1, 100, 13, '2022-07-28 05:24:00');
INSERT INTO SessionSet VALUES(7, 2, 1, 100, 12, '2022-07-28 05:27:00');
INSERT INTO SessionSet VALUES(8, 2, 1, 100, 11, '2022-07-28 05:32:00');

INSERT INTO SessionSet VALUES(9, 3, 1, 100, 15, '2022-07-29 07:03:00');
INSERT INTO SessionSet VALUES(10, 3, 1, 100, 15, '2022-07-29 07:06:00');
INSERT INTO SessionSet VALUES(11, 3, 1, 100, 16, '2022-07-29 07:09:00');
INSERT INTO SessionSet VALUES(12, 3, 1, 100, 15, '2022-07-29 07:12:00');

INSERT INTO SessionSet VALUES(13, 4, 1, 125, 8, '2022-07-30 08:06:00');
INSERT INTO SessionSet VALUES(14, 4, 1, 125, 9, '2022-07-30 08:09:00');
INSERT INTO SessionSet VALUES(15, 4, 1, 125, 8, '2022-07-30 08:12:00');
INSERT INTO SessionSet VALUES(16, 4, 1, 125, 9, '2022-07-30 08:15:00');

## DEADLIFT
INSERT INTO SessionSet VALUES(17, 1, 2, 150, 10, '2022-07-27 06:13:00');
INSERT INTO SessionSet VALUES(18, 1, 2, 150, 11, '2022-07-27 06:15:00');
INSERT INTO SessionSet VALUES(19, 1, 2, 150, 11, '2022-07-27 06:18:00');
INSERT INTO SessionSet VALUES(20, 1, 2, 150, 10, '2022-07-27 06:21:00');

INSERT INTO SessionSet VALUES(21, 2, 2, 150, 15, '2022-07-28 05:34:00');
INSERT INTO SessionSet VALUES(22, 2, 2, 150, 11, '2022-07-28 05:37:00');
INSERT INTO SessionSet VALUES(23, 2, 2, 150, 15, '2022-07-28 05:42:00');
INSERT INTO SessionSet VALUES(24, 2, 2, 150, 10, '2022-07-28 05:44:00');

INSERT INTO SessionSet VALUES(25, 3, 2, 175, 12, '2022-07-29 07:15:00');
INSERT INTO SessionSet VALUES(26, 3, 2, 175, 12, '2022-07-29 07:19:00');
INSERT INTO SessionSet VALUES(27, 3, 2, 175, 12, '2022-07-29 07:25:00');
INSERT INTO SessionSet VALUES(28, 3, 2, 175, 10, '2022-07-29 07:28:00');

INSERT INTO SessionSet VALUES(29, 4, 2, 175, 15, '2022-07-30 08:18:00');
INSERT INTO SessionSet VALUES(30, 4, 2, 175, 15, '2022-07-30 08:19:00');
INSERT INTO SessionSet VALUES(31, 4, 2, 175, 18, '2022-07-30 08:25:00');
INSERT INTO SessionSet VALUES(32, 4, 2, 175, 16, '2022-07-30 08:26:00');

## BENCH PRESS
INSERT INTO SessionSet VALUES(33, 1, 3, 75, 8, '2022-07-27 06:23:00');
INSERT INTO SessionSet VALUES(34, 1, 3, 75, 9, '2022-07-27 06:27:00');
INSERT INTO SessionSet VALUES(35, 1, 3, 75, 11, '2022-07-27 06:30:00');
INSERT INTO SessionSet VALUES(36, 1, 3, 75, 10, '2022-07-27 06:40:00');

INSERT INTO SessionSet VALUES(37, 2, 3, 75, 12, '2022-07-28 05:45:00');
INSERT INTO SessionSet VALUES(38, 2, 3, 75, 10, '2022-07-28 05:46:00');
INSERT INTO SessionSet VALUES(39, 2, 3, 75, 12, '2022-07-28 05:47:00');
INSERT INTO SessionSet VALUES(40, 2, 3, 75, 10, '2022-07-28 05:48:00');

INSERT INTO SessionSet VALUES(41, 3, 3, 75, 14, '2022-07-29 07:32:00');
INSERT INTO SessionSet VALUES(42, 3, 3, 75, 13, '2022-07-29 07:36:00');
INSERT INTO SessionSet VALUES(43, 3, 3, 75, 14, '2022-07-29 07:37:00');
INSERT INTO SessionSet VALUES(44, 3, 3, 75, 12, '2022-07-29 07:39:00');

INSERT INTO SessionSet VALUES(45, 4, 3, 90, 7, '2022-07-30 08:30:00');
INSERT INTO SessionSet VALUES(46, 4, 3, 90, 8, '2022-07-30 08:34:00');
INSERT INTO SessionSet VALUES(47, 4, 3, 90, 8, '2022-07-30 08:36:00');
INSERT INTO SessionSet VALUES(48, 4, 3, 90, 9, '2022-07-30 08:39:00');

## OVERHEAD PRESS
INSERT INTO SessionSet VALUES(49, 1, 4, 40, 8, '2022-07-27 06:45:00');
INSERT INTO SessionSet VALUES(50, 1, 4, 40, 9, '2022-07-27 06:47:00');
INSERT INTO SessionSet VALUES(51, 1, 4, 40, 11, '2022-07-27 06:49:00');
INSERT INTO SessionSet VALUES(52, 1, 4, 40, 10, '2022-07-27 06:55:00');

INSERT INTO SessionSet VALUES(53, 2, 4, 40, 12, '2022-07-28 05:49:00');
INSERT INTO SessionSet VALUES(54, 2, 4, 40, 10, '2022-07-28 05:51:00');
INSERT INTO SessionSet VALUES(55, 2, 4, 40, 12, '2022-07-28 05:54:00');
INSERT INTO SessionSet VALUES(56, 2, 4, 40, 10, '2022-07-28 05:59:00');

INSERT INTO SessionSet VALUES(57, 3, 4, 40, 14, '2022-07-29 07:42:00');
INSERT INTO SessionSet VALUES(58, 3, 4, 40, 13, '2022-07-29 07:46:00');
INSERT INTO SessionSet VALUES(59, 3, 4, 40, 14, '2022-07-29 07:49:00');
INSERT INTO SessionSet VALUES(60, 3, 4, 40, 12, '2022-07-29 07:54:00');

INSERT INTO SessionSet VALUES(61, 4, 4, 50, 3, '2022-07-30 08:40:00');
INSERT INTO SessionSet VALUES(62, 4, 4, 50, 6, '2022-07-30 08:45:00');
INSERT INTO SessionSet VALUES(63, 4, 4, 50, 5, '2022-07-30 08:50:00');
INSERT INTO SessionSet VALUES(64, 4, 4, 50, 5, '2022-07-30 08:55:00');

 * mysql://emcr8954:***@applied-sql.cs.colorado.edu:3306/emcr8954
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

## Create Views

Includes:
* Frequently accessed information
* Summary data for exercise sets

In [6]:
%%sql
DROP VIEW  IF EXISTS SessionTotalVolumes; 

CREATE VIEW SessionTotalVolumes
AS
    WITH
        s1 AS (SELECT SessionSet.SessionID, SessionSet.ExerciseID, Exercises.ExerciseName AS ExerciseName, Exercises.Unit, 
                SUM(SessionSet.Weight*SessionSet.Reps) AS TotalVolume, 
                Exercises.GoalVolume AS Goal, 
                (Exercises.GoalVolume - SUM(SessionSet.Weight*SessionSet.Reps)) AS Difference, 
                MAX(SessionSet.CreatedDate) AS DateCreated
                FROM SessionSet 
                LEFT JOIN Exercises ON Exercises.ExerciseID = SessionSet.ExerciseID
                GROUP BY SessionSet.SessionID, SessionSet.ExerciseID), 
        s2 AS (SELECT SessionSet.SessionID, SessionSet.ExerciseID, 
               SUM(SessionSet.Weight*SessionSet.Reps) AS PreviousVolume, MAX(SessionSet.CreatedDate) AS DateCreated 
               FROM SessionSet
               GROUP BY SessionSet.SessionID, SessionSet.ExerciseID),  
        s3 AS (SELECT SessionSet.SessionID, SessionSet.ExerciseID, 
               SUM(SessionSet.Weight*SessionSet.Reps) AS PreviousVolume, MAX(SessionSet.CreatedDate) AS DateCreated 
               FROM SessionSet
               GROUP BY SessionSet.SessionID, SessionSet.ExerciseID) 
    SELECT s1.SessionID, s1.ExerciseName, s1.Unit, s1.TotalVolume AS 'Total Volume', 
            s1.Goal AS 'Goal', s1.Difference AS 'Difference', DATE_FORMAT(s1.DateCreated, '%m/%d/%Y') AS 'Date Created',  
            s2.PreviousVolume AS '1st Prev. Vol.', DATE_FORMAT(s2.DateCreated, '%m/%d/%Y') AS '1st Date', 
            s3.PreviousVolume AS '2nd Prev. Vol.', DATE_FORMAT(s3.DateCreated, '%m/%d/%Y') AS '2nd Date'
    FROM s1
    LEFT JOIN s2 ON s2.SessionID = s1.SessionID-1 AND s2.ExerciseID = s1.ExerciseID
    LEFT JOIN s3 ON s3.SessionID = s1.SessionID-2 AND s3.ExerciseID = s1.ExerciseID
    ORDER BY s1.SessionID;

 * mysql://emcr8954:***@applied-sql.cs.colorado.edu:3306/emcr8954
0 rows affected.
0 rows affected.

[]

In [7]:
%%sql
DROP VIEW IF EXISTS SessionWeightReps; 
CREATE VIEW SessionWeightReps
AS
    SELECT SessionSet.SessionID, Exercises.ExerciseID, Exercises.ExerciseName, Weight, Reps 
    FROM SessionSet
    LEFT JOIN Exercises ON SessionSet.ExerciseID = Exercises.ExerciseID;

 * mysql://emcr8954:***@applied-sql.cs.colorado.edu:3306/emcr8954
0 rows affected.
0 rows affected.

[]

In [8]:
%%sql
DROP VIEW IF EXISTS  CollectionExercises;

CREATE VIEW CollectionExercises
AS
    SELECT CollectionGroups.CollectionID AS 'Collection ID', Collections.CollectionName AS 'Collection Name', 
    Exercises.ExerciseName AS Exercise
    FROM CollectionGroups
    LEFT JOIN Collections ON Collections.CollectionID = CollectionGroups.CollectionID 
    LEFT JOIN Exercises ON Exercises.ExerciseID = CollectionGroups.ExerciseID;

 * mysql://emcr8954:***@applied-sql.cs.colorado.edu:3306/emcr8954
0 rows affected.
0 rows affected.

[]

## Summary of Tables

### Record of a specific exercise performed in a set

In [9]:
%%sql
SELECT * FROM SessionSet;

 * mysql://emcr8954:***@applied-sql.cs.colorado.edu:3306/emcr8954
64 rows affected.

[(1, 1, 1, Decimal('100.00'), 10, datetime.datetime(2022, 7, 27, 6, 5)),
 (2, 1, 1, Decimal('100.00'), 11, datetime.datetime(2022, 7, 27, 6, 7)),
 (3, 1, 1, Decimal('100.00'), 11, datetime.datetime(2022, 7, 27, 6, 9)),
 (4, 1, 1, Decimal('100.00'), 10, datetime.datetime(2022, 7, 27, 6, 11)),
 (5, 2, 1, Decimal('100.00'), 12, datetime.datetime(2022, 7, 28, 5, 20)),
 (6, 2, 1, Decimal('100.00'), 13, datetime.datetime(2022, 7, 28, 5, 24)),
 (7, 2, 1, Decimal('100.00'), 12, datetime.datetime(2022, 7, 28, 5, 27)),
 (8, 2, 1, Decimal('100.00'), 11, datetime.datetime(2022, 7, 28, 5, 32)),
 (9, 3, 1, Decimal('100.00'), 15, datetime.datetime(2022, 7, 29, 7, 3)),
 (10, 3, 1, Decimal('100.00'), 15, datetime.datetime(2022, 7, 29, 7, 6)),
 (11, 3, 1, Decimal('100.00'), 16, datetime.datetime(2022, 7, 29, 7, 9)),
 (12, 3, 1, Decimal('100.00'), 15, datetime.datetime(2022, 7, 29, 7, 12)),
 (13, 4, 1, Decimal('125.00'), 8, datetime.datetime(2022, 7, 30, 8, 6)),
 (14, 4, 1, Decimal('125.00'), 9, datetime.datetime(2022, 7, 30, 8, 9)),
 (15, 4, 1, Decimal('125.00'), 8, datetime.datetime(2022, 7, 30, 8, 12)),
 (16, 4, 1, Decimal('125.00'), 9, datetime.datetime(2022, 7, 30, 8, 15)),
 (17, 1, 2, Decimal('150.00'), 10, datetime.datetime(2022, 7, 27, 6, 13)),
 (18, 1, 2, Decimal('150.00'), 11, datetime.datetime(2022, 7, 27, 6, 15)),
 (19, 1, 2, Decimal('150.00'), 11, datetime.datetime(2022, 7, 27, 6, 18)),
 (20, 1, 2, Decimal('150.00'), 10, datetime.datetime(2022, 7, 27, 6, 21)),
 (21, 2, 2, Decimal('150.00'), 15, datetime.datetime(2022, 7, 28, 5, 34)),
 (22, 2, 2, Decimal('150.00'), 11, datetime.datetime(2022, 7, 28, 5, 37)),
 (23, 2, 2, Decimal('150.00'), 15, datetime.datetime(2022, 7, 28, 5, 42)),
 (24, 2, 2, Decimal('150.00'), 10, datetime.datetime(2022, 7, 28, 5, 44)),
 (25, 3, 2, Decimal('175.00'), 12, datetime.datetime(2022, 7, 29, 7, 15)),
 (26, 3, 2, Decimal('175.00'), 12, datetime.datetime(2022, 7, 29, 7, 19)),
 (27, 3, 2, Decimal('175.00'), 12, datetime.datetime(2022, 7, 29, 7, 25)),
 (28, 3, 2, Decimal('175.00'), 10, datetime.datetime(2022, 7, 29, 7, 28)),
 (29, 4, 2, Decimal('175.00'), 15, datetime.datetime(2022, 7, 30, 8, 18)),
 (30, 4, 2, Decimal('175.00'), 15, datetime.datetime(2022, 7, 30, 8, 19)),
 (31, 4, 2, Decimal('175.00'), 18, datetime.datetime(2022, 7, 30, 8, 25)),
 (32, 4, 2, Decimal('175.00'), 16, datetime.datetime(2022, 7, 30, 8, 26)),
 (33, 1, 3, Decimal('75.00'), 8, datetime.datetime(2022, 7, 27, 6, 23)),
 (34, 1, 3, Decimal('75.00'), 9, datetime.datetime(2022, 7, 27, 6, 27)),
 (35, 1, 3, Decimal('75.00'), 11, datetime.datetime(2022, 7, 27, 6, 30)),
 (36, 1, 3, Decimal('75.00'), 10, datetime.datetime(2022, 7, 27, 6, 40)),
 (37, 2, 3, Decimal('75.00'), 12, datetime.datetime(2022, 7, 28, 5, 45)),
 (38, 2, 3, Decimal('75.00'), 10, datetime.datetime(2022, 7, 28, 5, 46)),
 (39, 2, 3, Decimal('75.00'), 12, datetime.datetime(2022, 7, 28, 5, 47)),
 (40, 2, 3, Decimal('75.00'), 10, datetime.datetime(2022, 7, 28, 5, 48)),
 (41, 3, 3, Decimal('75.00'), 14, datetime.datetime(2022, 7, 29, 7, 32)),
 (42, 3, 3, Decimal('75.00'), 13, datetime.datetime(2022, 7, 29, 7, 36)),
 (43, 3, 3, Decimal('75.00'), 14, datetime.datetime(2022, 7, 29, 7, 37)),
 (44, 3, 3, Decimal('75.00'), 12, datetime.datetime(2022, 7, 29, 7, 39)),
 (45, 4, 3, Decimal('90.00'), 7, datetime.datetime(2022, 7, 30, 8, 30)),
 (46, 4, 3, Decimal('90.00'), 8, datetime.datetime(2022, 7, 30, 8, 34)),
 (47, 4, 3, Decimal('90.00'), 8, datetime.datetime(2022, 7, 30, 8, 36)),
 (48, 4, 3, Decimal('90.00'), 9, datetime.datetime(2022, 7, 30, 8, 39)),
 (49, 1, 4, Decimal('40.00'), 8, datetime.datetime(2022, 7, 27, 6, 45)),
 (50, 1, 4, Decimal('40.00'), 9, datetime.datetime(2022, 7, 27, 6, 47)),
 (51, 1, 4, Decimal('40.00'), 11, datetime.datetime(2022, 7, 27, 6, 49)),
 (52, 1, 4, Decimal('40.00'), 10, datetime.datetime(2022, 7, 27, 6, 55)),
 (53, 2, 4, Decimal('40.00'), 12, datetime.datetime(2022, 7, 28, 5, 49)),
 (54, 2, 4, Decimal('40.00'), 10, datetime.datetime(2022, 7, 28, 5, 51)),
 (55, 2, 4, Decimal('40.00'), 12, datetime.datetime(2022, 7, 28, 5, 54)),
 (56, 2, 4, Decimal('40.00'), 10, datetime.datetime(2022, 7, 28, 5, 59)),
 (57, 3, 4, Decimal('40.00'), 14, datetime.datetime(2022, 7, 29, 7, 42)),
 (58, 3, 4, Decimal('40.00'), 13, datetime.datetime(2022, 7, 29, 7, 46)),
 (59, 3, 4, Decimal('40.00'), 14, datetime.datetime(2022, 7, 29, 7, 49)),
 (60, 3, 4, Decimal('40.00'), 12, datetime.datetime(2022, 7, 29, 7, 54)),
 (61, 4, 4, Decimal('50.00'), 3, datetime.datetime(2022, 7, 30, 8, 40)),
 (62, 4, 4, Decimal('50.00'), 6, datetime.datetime(2022, 7, 30, 8, 45)),
 (63, 4, 4, Decimal('50.00'), 5, datetime.datetime(2022, 7, 30, 8, 50)),
 (64, 4, 4, Decimal('50.00'), 5, datetime.datetime(2022, 7, 30, 8, 55))]

### Exercises that belong to a collection

In [10]:
%%sql
SELECT * FROM CollectionGroups;

 * mysql://emcr8954:***@applied-sql.cs.colorado.edu:3306/emcr8954
8 rows affected.

[(1, 1, 1, datetime.datetime(2022, 8, 5, 2, 13, 41)),
 (2, 1, 2, datetime.datetime(2022, 8, 5, 2, 13, 41)),
 (3, 2, 3, datetime.datetime(2022, 8, 5, 2, 13, 41)),
 (4, 2, 4, datetime.datetime(2022, 8, 5, 2, 13, 41)),
 (5, 3, 1, datetime.datetime(2022, 8, 5, 2, 13, 41)),
 (6, 3, 2, datetime.datetime(2022, 8, 5, 2, 13, 41)),
 (7, 3, 3, datetime.datetime(2022, 8, 5, 2, 13, 41)),
 (8, 3, 4, datetime.datetime(2022, 8, 5, 2, 13, 41))]

### Collection information

In [11]:
%%sql
SELECT * FROM Collections;

 * mysql://emcr8954:***@applied-sql.cs.colorado.edu:3306/emcr8954
3 rows affected.

[(1, 'Legs', datetime.datetime(2022, 8, 5, 2, 13, 41)),
 (2, 'Arms', datetime.datetime(2022, 8, 5, 2, 13, 41)),
 (3, 'Total Body', datetime.datetime(2022, 8, 5, 2, 13, 41))]

### List of all possible exercises that can be recorded or added to a collection

In [12]:
%%sql
SELECT * FROM Exercises;

 * mysql://emcr8954:***@applied-sql.cs.colorado.edu:3306/emcr8954
6 rows affected.

[(1, 'Squat', datetime.datetime(2022, 8, 5, 2, 13, 41), Decimal('7000.00'), 'lbs'),
 (2, 'Deadlift', datetime.datetime(2022, 8, 5, 2, 13, 41), Decimal('12000.00'), 'lbs'),
 (3, 'Bench Press', datetime.datetime(2022, 8, 5, 2, 13, 41), Decimal('4000.00'), 'lbs'),
 (4, 'Overhead Press', datetime.datetime(2022, 8, 5, 2, 13, 41), Decimal('2500.00'), 'lbs'),
 (5, 'Running', datetime.datetime(2022, 8, 5, 2, 13, 41), Decimal('9.00'), 'min/mile'),
 (6, 'Yoga', datetime.datetime(2022, 8, 5, 2, 13, 41), Decimal('30.00'), 'mins')]

### List of exercise sessions that an exercise record can be added to

In [13]:
%%sql
SELECT * FROM Sessions;

 * mysql://emcr8954:***@applied-sql.cs.colorado.edu:3306/emcr8954
4 rows affected.

[(1, datetime.datetime(2022, 7, 27, 6, 0, 19)),
 (2, datetime.datetime(2022, 7, 28, 6, 30, 19)),
 (3, datetime.datetime(2022, 7, 29, 7, 6, 19)),
 (4, datetime.datetime(2022, 7, 30, 8, 6, 19))]

## Summary of Views

### All exercises and their corresponding performance across sessions

In [14]:
%%sql
SELECT  * FROM SessionWeightReps;

 * mysql://emcr8954:***@applied-sql.cs.colorado.edu:3306/emcr8954
64 rows affected.

[(1, 1, 'Squat', Decimal('100.00'), 10),
 (1, 1, 'Squat', Decimal('100.00'), 11),
 (1, 1, 'Squat', Decimal('100.00'), 11),
 (1, 1, 'Squat', Decimal('100.00'), 10),
 (2, 1, 'Squat', Decimal('100.00'), 12),
 (2, 1, 'Squat', Decimal('100.00'), 13),
 (2, 1, 'Squat', Decimal('100.00'), 12),
 (2, 1, 'Squat', Decimal('100.00'), 11),
 (3, 1, 'Squat', Decimal('100.00'), 15),
 (3, 1, 'Squat', Decimal('100.00'), 15),
 (3, 1, 'Squat', Decimal('100.00'), 16),
 (3, 1, 'Squat', Decimal('100.00'), 15),
 (4, 1, 'Squat', Decimal('125.00'), 8),
 (4, 1, 'Squat', Decimal('125.00'), 9),
 (4, 1, 'Squat', Decimal('125.00'), 8),
 (4, 1, 'Squat', Decimal('125.00'), 9),
 (1, 2, 'Deadlift', Decimal('150.00'), 10),
 (1, 2, 'Deadlift', Decimal('150.00'), 11),
 (1, 2, 'Deadlift', Decimal('150.00'), 11),
 (1, 2, 'Deadlift', Decimal('150.00'), 10),
 (2, 2, 'Deadlift', Decimal('150.00'), 15),
 (2, 2, 'Deadlift', Decimal('150.00'), 11),
 (2, 2, 'Deadlift', Decimal('150.00'), 15),
 (2, 2, 'Deadlift', Decimal('150.00'), 10),
 (3, 2, 'Deadlift', Decimal('175.00'), 12),
 (3, 2, 'Deadlift', Decimal('175.00'), 12),
 (3, 2, 'Deadlift', Decimal('175.00'), 12),
 (3, 2, 'Deadlift', Decimal('175.00'), 10),
 (4, 2, 'Deadlift', Decimal('175.00'), 15),
 (4, 2, 'Deadlift', Decimal('175.00'), 15),
 (4, 2, 'Deadlift', Decimal('175.00'), 18),
 (4, 2, 'Deadlift', Decimal('175.00'), 16),
 (1, 3, 'Bench Press', Decimal('75.00'), 8),
 (1, 3, 'Bench Press', Decimal('75.00'), 9),
 (1, 3, 'Bench Press', Decimal('75.00'), 11),
 (1, 3, 'Bench Press', Decimal('75.00'), 10),
 (2, 3, 'Bench Press', Decimal('75.00'), 12),
 (2, 3, 'Bench Press', Decimal('75.00'), 10),
 (2, 3, 'Bench Press', Decimal('75.00'), 12),
 (2, 3, 'Bench Press', Decimal('75.00'), 10),
 (3, 3, 'Bench Press', Decimal('75.00'), 14),
 (3, 3, 'Bench Press', Decimal('75.00'), 13),
 (3, 3, 'Bench Press', Decimal('75.00'), 14),
 (3, 3, 'Bench Press', Decimal('75.00'), 12),
 (4, 3, 'Bench Press', Decimal('90.00'), 7),
 (4, 3, 'Bench Press', Decimal('90.00'), 8),
 (4, 3, 'Bench Press', Decimal('90.00'), 8),
 (4, 3, 'Bench Press', Decimal('90.00'), 9),
 (1, 4, 'Overhead Press', Decimal('40.00'), 8),
 (1, 4, 'Overhead Press', Decimal('40.00'), 9),
 (1, 4, 'Overhead Press', Decimal('40.00'), 11),
 (1, 4, 'Overhead Press', Decimal('40.00'), 10),
 (2, 4, 'Overhead Press', Decimal('40.00'), 12),
 (2, 4, 'Overhead Press', Decimal('40.00'), 10),
 (2, 4, 'Overhead Press', Decimal('40.00'), 12),
 (2, 4, 'Overhead Press', Decimal('40.00'), 10),
 (3, 4, 'Overhead Press', Decimal('40.00'), 14),
 (3, 4, 'Overhead Press', Decimal('40.00'), 13),
 (3, 4, 'Overhead Press', Decimal('40.00'), 14),
 (3, 4, 'Overhead Press', Decimal('40.00'), 12),
 (4, 4, 'Overhead Press', Decimal('50.00'), 3),
 (4, 4, 'Overhead Press', Decimal('50.00'), 6),
 (4, 4, 'Overhead Press', Decimal('50.00'), 5),
 (4, 4, 'Overhead Press', Decimal('50.00'), 5)]

### Exercises by session with goal, total volume, and previous total volumes to compare performance across time

In [15]:
%%sql
SELECT  * FROM SessionTotalVolumes;

 * mysql://emcr8954:***@applied-sql.cs.colorado.edu:3306/emcr8954
16 rows affected.

[(1, 'Squat', 'lbs', Decimal('4200.00'), Decimal('7000.00'), Decimal('2800.00'), '07/27/2022', None, None, None, None),
 (1, 'Deadlift', 'lbs', Decimal('6300.00'), Decimal('12000.00'), Decimal('5700.00'), '07/27/2022', None, None, None, None),
 (1, 'Bench Press', 'lbs', Decimal('2850.00'), Decimal('4000.00'), Decimal('1150.00'), '07/27/2022', None, None, None, None),
 (1, 'Overhead Press', 'lbs', Decimal('1520.00'), Decimal('2500.00'), Decimal('980.00'), '07/27/2022', None, None, None, None),
 (2, 'Squat', 'lbs', Decimal('4800.00'), Decimal('7000.00'), Decimal('2200.00'), '07/28/2022', Decimal('4200.00'), '07/27/2022', None, None),
 (2, 'Deadlift', 'lbs', Decimal('7650.00'), Decimal('12000.00'), Decimal('4350.00'), '07/28/2022', Decimal('6300.00'), '07/27/2022', None, None),
 (2, 'Bench Press', 'lbs', Decimal('3300.00'), Decimal('4000.00'), Decimal('700.00'), '07/28/2022', Decimal('2850.00'), '07/27/2022', None, None),
 (2, 'Overhead Press', 'lbs', Decimal('1760.00'), Decimal('2500.00'), Decimal('740.00'), '07/28/2022', Decimal('1520.00'), '07/27/2022', None, None),
 (3, 'Squat', 'lbs', Decimal('6100.00'), Decimal('7000.00'), Decimal('900.00'), '07/29/2022', Decimal('4800.00'), '07/28/2022', Decimal('4200.00'), '07/27/2022'),
 (3, 'Deadlift', 'lbs', Decimal('8050.00'), Decimal('12000.00'), Decimal('3950.00'), '07/29/2022', Decimal('7650.00'), '07/28/2022', Decimal('6300.00'), '07/27/2022'),
 (3, 'Bench Press', 'lbs', Decimal('3975.00'), Decimal('4000.00'), Decimal('25.00'), '07/29/2022', Decimal('3300.00'), '07/28/2022', Decimal('2850.00'), '07/27/2022'),
 (3, 'Overhead Press', 'lbs', Decimal('2120.00'), Decimal('2500.00'), Decimal('380.00'), '07/29/2022', Decimal('1760.00'), '07/28/2022', Decimal('1520.00'), '07/27/2022'),
 (4, 'Squat', 'lbs', Decimal('4250.00'), Decimal('7000.00'), Decimal('2750.00'), '07/30/2022', Decimal('6100.00'), '07/29/2022', Decimal('4800.00'), '07/28/2022'),
 (4, 'Deadlift', 'lbs', Decimal('11200.00'), Decimal('12000.00'), Decimal('800.00'), '07/30/2022', Decimal('8050.00'), '07/29/2022', Decimal('7650.00'), '07/28/2022'),
 (4, 'Bench Press', 'lbs', Decimal('2880.00'), Decimal('4000.00'), Decimal('1120.00'), '07/30/2022', Decimal('3975.00'), '07/29/2022', Decimal('3300.00'), '07/28/2022'),
 (4, 'Overhead Press', 'lbs', Decimal('950.00'), Decimal('2500.00'), Decimal('1550.00'), '07/30/2022', Decimal('2120.00'), '07/29/2022', Decimal('1760.00'), '07/28/2022')]

### Show the list of exercises that belong to a collection

In [16]:
%%sql 
SELECT * FROM CollectionExercises;

 * mysql://emcr8954:***@applied-sql.cs.colorado.edu:3306/emcr8954
8 rows affected.

[(1, 'Legs', 'Squat'),
 (1, 'Legs', 'Deadlift'),
 (2, 'Arms', 'Bench Press'),
 (2, 'Arms', 'Overhead Press'),
 (3, 'Total Body', 'Squat'),
 (3, 'Total Body', 'Deadlift'),
 (3, 'Total Body', 'Bench Press'),
 (3, 'Total Body', 'Overhead Press')]

## Triggers

### UPDATE TRIGGER

**Prevent entering a new goal volume that is excessively large compared to the previous volume**

Setting too high a goal compared to previous goals can hinder motivation and therefore performance. This trigger encourages users to be conservative with their expectations and focus on a long-term investment rather than short-term gains.

In [17]:
%%sql
DROP TRIGGER IF EXISTS ModifyGoal; 

CREATE TRIGGER ModifyGoal
BEFORE UPDATE
ON Exercises FOR EACH ROW
BEGIN
    DECLARE errorMessage VARCHAR(255);
    SET errorMessage = 'The new goal volume must be less than 4 times the previous volume to ensure motivation and success.';                        
    IF new.GoalVolume > old.GoalVolume*4 
    THEN SIGNAL SQLSTATE '45000' 
        SET MESSAGE_TEXT = errorMessage;
    END IF;
END;

 * mysql://emcr8954:***@applied-sql.cs.colorado.edu:3306/emcr8954
0 rows affected.
0 rows affected.

[]

In [18]:
try:
    %sql UPDATE Exercises SET GoalVolume = 60000 WHERE ExerciseID=1
    result = %sql select * from Exercises
except Exception as err:
    print("Error", err)
    result = 'Failed'
result

 * mysql://emcr8954:***@applied-sql.cs.colorado.edu:3306/emcr8954
(MySQLdb._exceptions.OperationalError) (1644, 'The new goal volume must be less than 4 times the previous volume to ensure motivation and success.')
[SQL: UPDATE Exercises SET GoalVolume = 60000 WHERE ExerciseID=1]
(Background on this error at: https://sqlalche.me/e/14/e3q8)
 * mysql://emcr8954:***@applied-sql.cs.colorado.edu:3306/emcr8954
6 rows affected.

[(1, 'Squat', datetime.datetime(2022, 8, 5, 2, 13, 41), Decimal('7000.00'), 'lbs'),
 (2, 'Deadlift', datetime.datetime(2022, 8, 5, 2, 13, 41), Decimal('12000.00'), 'lbs'),
 (3, 'Bench Press', datetime.datetime(2022, 8, 5, 2, 13, 41), Decimal('4000.00'), 'lbs'),
 (4, 'Overhead Press', datetime.datetime(2022, 8, 5, 2, 13, 41), Decimal('2500.00'), 'lbs'),
 (5, 'Running', datetime.datetime(2022, 8, 5, 2, 13, 41), Decimal('9.00'), 'min/mile'),
 (6, 'Yoga', datetime.datetime(2022, 8, 5, 2, 13, 41), Decimal('30.00'), 'mins')]

### FOREIGN KEY DEMONSTRATION

#### Tables before deletion

In [19]:
%%sql
SELECT * FROM SessionSet WHERE ExerciseID=1;

 * mysql://emcr8954:***@applied-sql.cs.colorado.edu:3306/emcr8954
16 rows affected.

[(1, 1, 1, Decimal('100.00'), 10, datetime.datetime(2022, 7, 27, 6, 5)),
 (2, 1, 1, Decimal('100.00'), 11, datetime.datetime(2022, 7, 27, 6, 7)),
 (3, 1, 1, Decimal('100.00'), 11, datetime.datetime(2022, 7, 27, 6, 9)),
 (4, 1, 1, Decimal('100.00'), 10, datetime.datetime(2022, 7, 27, 6, 11)),
 (5, 2, 1, Decimal('100.00'), 12, datetime.datetime(2022, 7, 28, 5, 20)),
 (6, 2, 1, Decimal('100.00'), 13, datetime.datetime(2022, 7, 28, 5, 24)),
 (7, 2, 1, Decimal('100.00'), 12, datetime.datetime(2022, 7, 28, 5, 27)),
 (8, 2, 1, Decimal('100.00'), 11, datetime.datetime(2022, 7, 28, 5, 32)),
 (9, 3, 1, Decimal('100.00'), 15, datetime.datetime(2022, 7, 29, 7, 3)),
 (10, 3, 1, Decimal('100.00'), 15, datetime.datetime(2022, 7, 29, 7, 6)),
 (11, 3, 1, Decimal('100.00'), 16, datetime.datetime(2022, 7, 29, 7, 9)),
 (12, 3, 1, Decimal('100.00'), 15, datetime.datetime(2022, 7, 29, 7, 12)),
 (13, 4, 1, Decimal('125.00'), 8, datetime.datetime(2022, 7, 30, 8, 6)),
 (14, 4, 1, Decimal('125.00'), 9, datetime.datetime(2022, 7, 30, 8, 9)),
 (15, 4, 1, Decimal('125.00'), 8, datetime.datetime(2022, 7, 30, 8, 12)),
 (16, 4, 1, Decimal('125.00'), 9, datetime.datetime(2022, 7, 30, 8, 15))]

In [20]:
%%sql
SELECT * FROM CollectionGroups WHERE ExerciseID=1;

 * mysql://emcr8954:***@applied-sql.cs.colorado.edu:3306/emcr8954
2 rows affected.

[(1, 1, 1, datetime.datetime(2022, 8, 5, 2, 13, 41)),
 (5, 3, 1, datetime.datetime(2022, 8, 5, 2, 13, 41))]

In [21]:
%%sql
SELECT * FROM Exercises WHERE ExerciseID=1;

 * mysql://emcr8954:***@applied-sql.cs.colorado.edu:3306/emcr8954
1 rows affected.

[(1, 'Squat', datetime.datetime(2022, 8, 5, 2, 13, 41), Decimal('7000.00'), 'lbs')]

In [22]:
try:
    %sql DELETE FROM Exercises WHERE ExerciseID=1
    result = %sql select * from Exercises
except Exception as err:
    print("Error", err)
    result = 'Failed'
result

 * mysql://emcr8954:***@applied-sql.cs.colorado.edu:3306/emcr8954
1 rows affected.
 * mysql://emcr8954:***@applied-sql.cs.colorado.edu:3306/emcr8954
5 rows affected.

[(2, 'Deadlift', datetime.datetime(2022, 8, 5, 2, 13, 41), Decimal('12000.00'), 'lbs'),
 (3, 'Bench Press', datetime.datetime(2022, 8, 5, 2, 13, 41), Decimal('4000.00'), 'lbs'),
 (4, 'Overhead Press', datetime.datetime(2022, 8, 5, 2, 13, 41), Decimal('2500.00'), 'lbs'),
 (5, 'Running', datetime.datetime(2022, 8, 5, 2, 13, 41), Decimal('9.00'), 'min/mile'),
 (6, 'Yoga', datetime.datetime(2022, 8, 5, 2, 13, 41), Decimal('30.00'), 'mins')]

#### Tables after deletion

In [23]:
%%sql
SELECT * FROM SessionSet WHERE ExerciseID=1;

 * mysql://emcr8954:***@applied-sql.cs.colorado.edu:3306/emcr8954
0 rows affected.

[]

In [24]:
%%sql
SELECT * FROM CollectionGroups WHERE ExerciseID=1;

 * mysql://emcr8954:***@applied-sql.cs.colorado.edu:3306/emcr8954
0 rows affected.

[]

In [25]:
%%sql
SELECT * FROM Exercises WHERE ExerciseID=1;

 * mysql://emcr8954:***@applied-sql.cs.colorado.edu:3306/emcr8954
0 rows affected.

[]